@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');

*{
    font-family: 'POPPINS';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    background: #343f4f;

}
/* login */
/* ///////////////////////////////////// */

#loginBody{
    top: 0;
    left: 0;
    
    width: 100%;
    height: 90vh;
    background-image: url('../images/tasteful-recipes.jpg');
    background-size: cover;
    align-items: center;
    
}


form {
display: grid;
    margin-left: 450px;
margin-top: 80px;
text-align: center;
    align-content: center;
    justify-content: space-evenly;
    width: 500px;
  
    height: 560px;
    background-color: rgb(190, 135, 135);
}
form h1{
    color: white;
    
}
#username,#password,#passwordconfirm,#email,#loginSubmitBtn{
    
    border: none;
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
    width: 250px;
    height: 30px;
    margin: 25px;
}
#name_error_mg,#email_error_mg,#password_error_mg,#password_confirm_error_mg{
    display: none;
    color: brown;

}
#loginSubmitBtn{
    background-color:rgb(207, 180, 127);
    border-radius: 15px;
    border: none;
    color: whitesmoke;    

}




.home-container{
    width: 100%;
     display: flex;
     flex-direction: column; 
     justify-content:space-between;
     align-items: center;
}


/* slider */
   /* ////////////////////////////////// */

   #first{
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 100px;
     min-height: 70vh;
     height: 100%;
     align-items:start;
     margin-top: 200px;
   
   }
  .wrapper {
    margin-right: 20px;
  max-width: 800px;
    width: 100%;
    height: 500px;
    background: rgb(207, 180, 127);
    display: flex;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  #first span{
    font-family:'POPPINS';
    font-weight: 500;
    font-size: xxx-large;
   margin-top: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    
    /* margin-right: 550px; */

   
}
  .wrapper i.button {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button:active {
    transform: scale(0.94) translateY(-50%);
  }
  i#prev {
    right:780.5px;
  }
  i#next {
    right: 30px;
  }
  .image-container {
    margin-top: 70px;
    margin-left: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    max-width: 700px;
   
    width: 100%;
    border-radius: 18px;

    overflow: hidden;
}
  .image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .carousel img {
    height: 700px;
    width: 100%;
    border-radius: 18px;
    border: 10px solid rgb(207, 180, 127);
    object-fit: cover;
  }





/* homepage */
/* ////////////////////////////////////////// */
.scrollTop{
    display: flex;align-items: center;
    justify-content: center; 
     width: 60px; 
    height: 60px;
     background-color: rgb(29, 25, 25);
    position: fixed;
    bottom:20px;
    right:20px ;
    border: none; 
    border-radius:50%; 
    cursor: pointer;
}
header #header-line{
    display: flex;
    flex-direction: row;
    position: fixed;
     width: 100%;
     height: 70px; 
     align-content: center; 
     justify-content: space-between;
    z-index: 5;
    padding: 5px;
    margin: 0 10px;
 
   

}

#header-line h1{
    font-family:'Pacifico', cursive;
    color: burlywood;
    
}
#header-line ul{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
}

#header-line ul li a{
    width: 100px;
    margin-right:20px ;
    color: white;
   text-decoration: none;
    font-weight: 600;



}
#header-line ul li section{
    margin-left: 100px;
    color: white;margin-right: 20px;
}
#header-line ul li section h3
{


    display: inline; margin-right: 15px;color: burlywood;
    font-family:'Pacifico', cursive;
    font-size: 24px;
}
#header-line ul li section h4{
    display: inline; margin-right: 15px;
    
}
#logoutbtn{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: 20px;
    background-color: #555;
    color: #eee;
    border: none;
    border-radius: 15px;
    padding: 3px 5px;
    font-family: 'Poppins';
    font-size: large;
}
#second{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: 
    space-between;
    height: 80vh;
    width: 200vh; 
    padding: 5px;
}
.secondImage{
    margin-left: 20px; 
    width: 700px;
    height: 500px;  
    background-image: url('/images/chocolatecroisssonts.jpg');
    background-repeat: no-repeat; 
    background-size: auto;
     object-fit: cover; 
     border-radius: 20px;
}
.second_p p{
    color: #eee;
    font-weight: lighter;
    display: flex;
     flex-direction: column;
     font-family: 'Pacifico',cursive;
      width: 350px;
      text-align: center; 
      justify-content: center;
      color: rgb(210, 156, 90);
      font-size: xxx-large;
}
#third{
    height: 80vh;
    width: 200vh; 
    display: flex;
    align-items: center; 
    flex-direction: row;
}
#third h3{
    font-family:'Pacifico', cursive;
    color: burlywood;
    margin-bottom: 10px;
    font-weight:lighter;
    font-size: xx-large;
    /* font-size: x-small; */

}
.third_p{
    display: flex;
    flex-direction: column; 
    text-align: center; 
    width: 800px;
    height:600px;color: #eee;
    margin-top: 100px;
}
.third_p span{
    font-family:cursive;
    font-size: x-large;
    font-weight: 200;
}
.thirdIMage{
     
    width: 600px;
    height: 400px;  
    margin-left: 100px;
    margin-bottom: 50px;
    background-image: url('/images/backgroud3.jpg');
    background-repeat: no-repeat; 
    background-size: auto;
     object-fit: cover; 
     border-radius: 20px;
}



/* product_page */
/* //////////////////////////////////////////////// */
.Product-page-container{
    font-family:  "Poppins", sans-serif;
    max-width: 90vw;
    width: 900px;
    margin-left: 200px;
    padding-top: 10px;
    transition:transform .5s;
}
.home-Product-page-container{
    font-family:  "Poppins", sans-serif;
    max-width: 90vw;
    padding-top: 10px;
   
}

.icon-cart img{
    cursor: pointer;
    width: 30px;
}
.product_header{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    padding: 20px  0;
   
}
.product_header .icon-cart{
    position: relative;
    
}
header .icon-cart span{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px ;
    height: 30px;
    background-color: crimson;
    color: #fff;
    border-radius:50% ;
    position: absolute;
}


.listProduct{
    display:grid ;
    grid-template-columns: repeat(3,300px);
    gap: 30px;
    margin-bottom: 30px;
    
    
}
.homeListProduct{
    display:grid ;
    
    grid-template-columns: repeat(4,300px);
    gap: 30px;
    margin-bottom: 30px;
    
    
}
.title{
    color: white;
    font-family:'Pacifico', cursive;
    font-size: xx-large;
}
.listProduct .item{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 20px;
    height: 250px;
    width: 300px;
  

}
.homeListProduct .item{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 20px;
    height: 250px;
    width: 300px;
  

}
.listProduct .item img{
    width:200px;
    height: 140px;
    border-radius: 5px;
    object-fit: cover;
    filter: drop-shadow(0 50px 20px #0009);
}
.homeListProduct .item img{
    width:200px;
    height: 140px;
    border-radius: 5px;
    object-fit: cover;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct .item h2{
    font-weight: 700;
    font-size: large;
    color:#343f4f;
}
.homeListProduct .item h2{
    font-weight: 700;
    font-size: large;
    color:#343f4f;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    color:goldenrod;
}
.homeListProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    color:goldenrod;
}
.listProduct .item .addCart{
   color: white;
   background-color: #353432;
   border-radius: 15px;
   border: none;
   padding: 2px;
   width:100px ;
   cursor: pointer;
}
.homeListProduct .item .addCart{
   color: white;
   background-color: #353432;
   border-radius: 15px;
   border: none;
   padding: 2px;
  
   width:100px ;
   cursor: pointer;
}

.listProduct .item .button{
background-color: #353432;
color: #eee;
padding:5px 10px;
border-radius: 20px;
margin-top: 10px;
cursor: pointer;
border: none;

}
.cartTab{
    color: #eee;
    background-color: #353432;
    top:0;
    right: 0;
    bottom: 0;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    transition: 0.5s;
    grid-template-rows: 70px 1fr 70px 70px;

    }
body.showCart .cartTab{
    inset:0 0 0 auto ;
}
body.showCart .Product-page-container{
    transform: translateX(-250px);
}
body.showCart .Product-page-container{
    transform: translateX(-250px);
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns:70px 150px 50px 1fr ;
    gap: 10px;
    text-align: center;
    
    align-items: center;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-size: x-large;
    font-family: 'Pacifico', cursive;


}

.cartTab .listCart .item img{
    width:100%;
    height: 55px;
    /* margin-left: 5px; */
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    background-color: burlywood;
    border: none;
    font-weight: 500;
    cursor: pointer;

}
.cartTab.totalCost{
    display: flex;
    width: 100%;
    height: 100p;
}
.cartTab .btn .close{
    background-color: #eee;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background-color:#eee ;
    color: #555;
    cursor: pointer;
}
.listCart .quantity .span:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}




/* product details page */
/* //////////////////////////////////////////// */
.detail {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    text-align: left;
    margin: 30px 50px;

}
.detail .image img{
    width:100%;
    text-align: center;
   
 padding: 10px;

}
.detail .image{
position: relative;
object-fit: cover;
}

.detail .name{
    font-size: xx-large;
    padding: 40px 0 0 0 ;
    margin:0 0 10 0;
    color:#fff;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    color:goldenrod;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    font-family: 'Poppins';
    font-size: large;
}
.detail .buttons svg{
    width: 25px;
}
.detail .buttons span{
    background-color: #555;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
    color: #eee;

}
.detail .buttons .addtocart{
    background-color:#353432;
    color: #eee;
 
    box-shadow: 0 10px 20px #353432;
}
.detail .description{
    font-weight: 300;
    color: #eee;
}
.content h4{
    color: burlywood;
}
.detail .ingredients{
    font-weight: 300;
    color: #eee;
}
.productDetailsContainer{
    padding: 30px;
}
.productDetailsContainer .title{
    color: white;
    display: flex;
  margin-left: 50px;
    font-size:xx-large;
    font-family:'Pacifico', cursive;
    margin-bottom: 50px;
}
.productDetailsContainer .image{
width: 500px;
height: 450px;
}
.productDetailsContainer .listProduct{
margin-left: 50px;
grid-template-columns: repeat(4,300px);

}
.productDetailsContainer .title{
    margin-top: 30px;
}
.productDetailsContainer .listProduct .item{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}



/* footer */
/* ////////////////////////////// */

  
.FOOTER-RoW {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #353432;
    color: whitesmoke;
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    
}

.footerColumn {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/* .firstfooterColumn{
    width: 500px;
} */
.footerColumn a{
    text-decoration: none;

}
.footerColumn p,.footerColumn h3,.footerColumn h4 .MainH3{
    color:cadetblue;
    font-size:large;
    font-family:cursive;
}
.row {
  
    margin-bottom: 10px;
  }
  .row h4{
    font-family:cursive;
    font-size: large;

  }
.logoRow img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
  }










/* cartCheckOut */
/* ////////////////////////////////////////////// */

.cartCheckoutContainer{
    position: relative;
    top: 70px;
    margin: 60px;
}
.checkoutLayout{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: #111419;
    border-radius: 20px;
    padding: 20px;
    color:#FFF;
  margin-top: 50px;
    margin-left: 200px;
    width: 480px;

}

.checkoutLayout .list img{
    height: 70px;

}
.checkoutLayout .right .form{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 20px;
border-bottom: 1px solid #111419;
padding-bottom: 20px;
}
.checkoutLayout .form .group label{
    margin-right: 100px;
}
.checkoutLayout .form .group:nth-child(n){
    grid-column-start: 1;
    grid-column-end: 3;
}
.checkoutLayout .form input,
.checkoutLayout.form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    color: #eee;
    background-color: #343f4f;
  
}

.checkoutLayout .row:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    background-color:rgb(207, 180, 127);

}
.returnCart h1{
border-top: 1px sold #EEE;
padding: 20px 0;


}
.returnCart .list .item img{
    height: 60px;
}
.returnCart .item{
    height: 90px;
    background-color:rgb(207, 180, 127);

display: grid;
grid-template-columns: 80px 1fr 50px 80px;
align-items: center;
gap: 20px;
margin-bottom: 30px;
padding: 0 10px;
border-radius: 20px;
}
.returnCart .item .name,
.returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}